[Unit]
Description=App name
After=network.target

[Service]
User=physics-site
Group=www-data
WorkingDirectory=/srv/physics.vstu.ru/
ExecStart=/opt/bin/pipenv run gunicorn --workers 4 --bin localhost:8000 app:app

[Install]
WantedBy=multi-user.target