{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <div class="description block">
        <p>Драсти</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Aliquam perferendis nulla culpa consequuntur quia, dolorem molestiae aperiam assumenda similique
            accusantium, eaque maiores quidem deserunt praesentium fugiat error.</p>
        <p>Recusandae, in tenetur.</p>
    </div>
    <div class="news-list block">
        <article class="news inner-block">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <p>Deleniti obcaecati, labore reprehenderit veniam debitis optio ratione.</p>
            <p>At architecto quas enim. Velit illo soluta recusandae sequi aut numquam accusantium id similique?</p>
        </article>
        <article class="news inner-block">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <p>Deleniti obcaecati, labore reprehenderit veniam debitis optio ratione.</p>
            <p>At architecto quas enim. Velit illo soluta recusandae sequi aut numquam accusantium id similique?</p>
        </article>
        <article class="news inner-block">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <p>Deleniti obcaecati, labore reprehenderit veniam debitis optio ratione.</p>
            <p>At architecto quas enim. Velit illo soluta recusandae sequi aut numquam accusantium id similique?</p>
        </article>
        <button class="readmore">Перейти в новости »</button>
    </div>
{% endblock %}
