{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/common/theme.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body class="theme-{{ theme }}">
    <nav class="site-nav">
        <ul class="nav">
            <li>Новости</li>
            <li>Расписания</li>
            <li>...</li>
            <li>...</li>
            <li>...</li>
        </ul>
    </nav>
    <div class="container">{% block body %}{% endblock %}</div>
    <footer class="block">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, nisi illum, quos libero neque sequi amet
            molestias rerum perferendis nemo hic praesentium temporibus.
            Fugiat, tempore! Ex laudantium dolorum consequatur illo?</p>
    </footer>
    <script src="{% static 'lib/jquery-3.3.1.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
